* {
  margin: 0em;
  padding: 0em;
}
/* margin and padding */
.mt-3 {
  margin-top: 1.5em;
}

.btn {
  border-radius: 1em;
  padding: 0.2em 3em 0.2em 3em;
  font-size: 0.8em;
}

.btn-success {
  background-color: #ffdb19;
}

/* Flex Container */
.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

#userlabel {
  font-weight: 700;
  font-size: large;
  margin-right: 1em;
}

#usernameVal {
  padding: 0.1em;
  border-radius: 5px;
  margin-left: 1em;
}

/* Text Center */
.text-center {
  text-align: center;
}

/* Table */
table {
  display: table;
  border-collapse: collapse; /* collapse makes the border lines touch instead of separate */
  border-spacing: 0.35rem;
  border-color: grey;
  border-radius: 0.155rem;
}

/* th is by default text-align: center */
th {
  text-align: left;
}

th,
td {
  padding: 0.88rem;
  border-bottom: 1px solid #ddd;
}

/* On row Hover */
tr:hover {
  background-color: grey;
}

/* Table class */
.table {
  width: 100%;
  margin: 1em;
  margin-bottom: 1rem;
  color: #212529;
}

.table-dark {
  color: #fff;
  background-color: #343a40;
}

/* navbar */
.navbar {
  background-color: #2c93aa;
  display: flex;
  padding: 16px;
  font-family: sans-serif;
  color: white;
}

.navbar-link {
  padding-right: 16px;
}

.navbar-brand {
  padding-right: 16px;
}

.nav-item {
  text-decoration: none !important;
  color: white !important;
}

.navbar-items {
  display: flex;
}
